<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Muhasebe.ORM.Properties.Settings.MuhasebeConnectionString"
            connectionString="Data Source=EGEMEN-PC\SQLEXPRESS;Initial Catalog=Muhasebe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>